.container{
    width:100%;
    height:100%;
    background-color: #f0f0f0;
    display: table;
}

ul{
    width:70%;
    height: 70%;
    display: table-cell;
    vertical-align: middle;
    max-width:1200px;
    margin:auto;
    height: 50%;
}

li{
    display:inline-block;
    width:32%;
    text-align:center
}

button{
    text-align:center;
    outline:0;
    width:100%;
    height:40px;
    margin-bottom:3px;
    color:white;
    cursor:pointer;
    border: 0px solid black;
}

button:active{

}
.blue{
    background-color:blue;
}
.red{
    background-color:red;
}
.orange{
    background-color:orange;
}
.green{
    background-color:green;
}
.pink{
    background-color:pink;
}
.yellow{
    background-color:yellow;
}
.aqua{
    background-color:aqua;
}
.purple{
    background-color:purple;
}
.magenta{
    background-color:magenta;
}
