{% load i18n %}
{% load static %}

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
    <title>{% block title %}{% endblock %}</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static "css/global.css" %}">
    <link rel="stylesheet" href="{% static "css/buttons.css" %}">
    <link rel="stylesheet" href="{% static "css/auth.css" %}">
    {% block css %}{% endblock %}
{#    <script type="text/javascript" src="{% static "jquery/jquery.min.js" %}"></script>#}
{#    <script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js?ver=1.4.2'></script>#}


    <!--angular javascript stuff-->
    <script src="{% get_static_prefix %}js/vendor/angular.js"></script>
    <script src="{% get_static_prefix %}js/vendor/angular-route.js"></script>
    <script src="{% get_static_prefix %}js/vendor/angular-resource.js"></script>

    <!--angular javascript stuff-->
{#    <script type='text/javascript' src='https://cdn.firebase.com/js/client/1.0.17/firebase.js'></script>#}

    <script src="{% get_static_prefix %}js/vendor/firebase.js"></script>
    <script src="{% get_static_prefix %}js/vendor/angularfire.js"></script>
    <script src="{% get_static_prefix %}js/vendor/auth-client.js"></script>

    <!--angular app.js-->
    <script src="{% get_static_prefix %}js/app.js"></script>

    <!-- Controllers -->
    <script src="{% get_static_prefix %}js/controllers/buttonsController.js"></script>
    <script src="{% get_static_prefix %}js/controllers/resultsController.js"></script>
    <script src="{% get_static_prefix %}js/controllers/authController.js"></script>

    <!-- Services -->
    <script src="{% get_static_prefix %}js/services/authService.js"></script>

</head>

<body>
{% block content %}
    <div>
        <div ng-app="buttons_app">
            <div ng-view></div>
        </div>
    </div>
{% endblock %}

</body>

</html>