<div class="container">
    <ul class="button-list">
        <li>
            <button class="blue" ng-click="click_function('blue')" ng-init="count=0"></button>
        </li>
        <li>
            <button class="red" ng-click="click_function('red')" ng-init="count=0"></button>
        </li>
        <li>
            <button class="green" ng-click="click_function('green')" ng-init="count=0"></button>
        </li>
        <li>
            <button class="orange" ng-click="click_function('orange')" ng-init="count=0"></button>
        </li>
        <li>
            <button class="pink" ng-click="click_function('pink')" ng-init="count=0"></button>
        </li>
        <li>
            <button class="yellow" ng-click="click_function('yellow')" ng-init="count=0"></button>
        </li>
        <li>
            <button class="aqua" ng-click="click_function('aqua')" ng-init="count=0"></button>
        </li>
        <li>
            <button class="magenta" ng-click="click_function('magenta')" ng-init="count=0"></button>
        </li>
        <li>
            <button class="purple" ng-click="click_function('purple')" ng-init="count=0"></button>
        </li>
    </ul>
</div>
