<div id="banner"></div>
<div id="overlay"></div>
<div id="form-container">
    <form ng-submit="login()">
        <label for="name" class="item item-input">
            <span class="input-label">Email</span>
            <input type="text" name="email" ng-model="auth.username" placeholder="Enter Email" required>
        </label>

        <label class="item item-input">
            <span class="input-label">Password</span>
            <input type="password" name="password" ng-model="auth.password" placeholder="Password" required>
        </label>

        <button type="submit">
            Log in
        </button>

    </form>
    <button ng-click="fblogin()">
        Facebook Login
    </button>
</div>
<h1>Register</h1>
    <form ng-submit="register()">
	    <label for="name" class="item item-input">
	    	<span class="input-label">Email</span>
	    	<input type="text" name="email" ng-model="auth.username" placeholder="Email" required>
	    </label>

	    <label class="item item-input">
	    	<span class="input-label">Password</span>
	    	<input input type="password" name="password" ng-model="auth.password" placeholder="Password" required>
	    </label>

	    <button class="button button-positive button-block"  type="submit">
	    	Register
	    </button>
    </form>